<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>cdn管理</title>
	<link href="//assets.winbaoxian.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<script src="//assets.winbaoxian.com/jquery/3.2.1/jquery.js"></script>
</head>
<body>
	
</body>
</html>