<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="format-detection" content="telephone=no">
	<title>cdn_eshop</title>
	<link href="//assets.winbaoxian.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="//res.winbaoxian.com/autoupload_asset/common/jqueryfileupload_6c35df3755.css">
	<%= htmlWebpackPlugin.options.assets %>

	<script src="//assets.winbaoxian.com/jquery/1.11.3/jquery.min.js"></script>
	<script src="//res.winbaoxian.com/autoupload_asset/common/jqueryuiwidget_0b44270691.js"></script>
	<script src="//res.winbaoxian.com/autoupload_asset/common/jqueryiframetransport_7b39a42a7a.js"></script>
	<script src="//res.winbaoxian.com/autoupload_asset/common/jqueryfileupload_2340c47a59.js"></script>
</head>
<body>
	<div id="app"></div>
</body>
</html>